.navigationbar {
    padding: 1em;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #00000030;
    background: none;
    transition: 0.5s;
    z-index: 50;

    nav {
        display: flex;
        gap: 2rem;
        font-size: 14px;
        font-weight: 500;
        
        a {
            position: relative;
            color: #000000;
            cursor: pointer;
            text-decoration: none;
            transition: 0.5s;

            &:after {                
                content: "";
                position: absolute;
                left: 50%;
                bottom: -4px;
                width: 0;
                height: 1.5px;
                display: block;
                background: #000000;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }

            &:hover:after {
                width: 100%;
                left: 0;
            }
        }
    }

    .logo {
        path {
            fill: #000000;
            stroke: #000000;
        }
        circle { stroke: #000000 }
    }

    
    
    &.home {
        position: absolute;
        border-bottom: 1px solid #ffffff30;
        background: none; 

        nav a {  color: #ffffff; }

        .logo {
            path {
                fill: #ffffff;
                stroke: #ffffff;
            }
            circle { stroke: #ffffff }
        }        

        &:hover {
            background: #ffffff;
            nav a { color: #000000; }

            .logo {
                path {
                    fill: #000000;
                    stroke: #000000;
                }
                circle { stroke: #000000 }
            }
        }
    }
}
